In [1]:
#question 8- Amazon-Laptop
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait

In [2]:
driver = webdriver.Chrome(r"C:\Users\lenovo\Downloads\chromedriver_win32\chromedriver.exe")

<ipython-input-2-15202a3d05e0>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\Users\lenovo\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
url='https://www.amazon.in/'
driver.get(url)

In [4]:
search_item=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search_item

<ipython-input-4-2338ed659a63>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_item=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')

In [5]:
search_item.send_keys('Laptop')

In [6]:
search_btn=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_btn.click()

<ipython-input-6-94916dd2da47>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')

In [7]:
filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i7':
        i.click()
        break

<ipython-input-7-e2ab54f47c04>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")

In [8]:
filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i9':
        i.click()
        break

<ipython-input-8-787530edb9c9>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")

In [9]:
tit_tags=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")

<ipython-input-9-61f54c1b98b5>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  tit_tags=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")

In [10]:
lap_titles=[] #empty list
for i in tit_tags:
    lap_titles.append(i.text)
lap_titles[:10]

['Lenovo ThinkBook 13s Intel 11th Gen Core i7 13.3"(33.78 cm) WQXGA IPS 300 nits 100% sRGB Dolby Vision Thin and Light Laptop (16GB/512GB SSD/Windows 10/MS Office/FPR/Mineral Grey/1.26 Kg), 20V9A05FIH',
 'ASUS TUF Dash F15 (2021) 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11370H 11th Gen, RTX 3050 4GB Graphics, Gaming Laptop (16GB/512GB SSD/Windows 10/Gray/2 Kg), FX516PCZ-HN091T',
 'Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg)(Without Webcam) XMA1904-AF',
 'HP Pavilion (2021) Intel 11th Gen Core i7 14 inches FHD Screen Thin & Light Laptop, 16 GB RAM, 1TB SSD, Iris Xe Graphics, Windows 10, MS Office, Backlit Keyboard, 1.41kg (14-dv0058TU)',
 'Acer Nitro 5 AN515-57 Gaming Laptop | Intel Core i7-11800H |NVIDIA GeForce RTX 3050 Ti Laptop Graphics |15.6" FHD 144Hz IPS Display |16GB DDR4 |256GB SSD+1TB HDD |Killer Wi-Fi 6 |RGB Backlit Keyboard',
 'Dell 14 (2021) i7-1195G7 2in1 Touch Screen Laptop, 16GB, 512GB SSD, Win 10 + MS Office, 14.0" (35.56 cms) FHD Display, Backlit KB, FPR + Active Pen, Platinum Silver (Inspiron 5410, D560596WIN9S)',
 'Lenovo Legion 5 11th Gen Intel Core i7 15.6"(39.62cm) FHD IPS Gaming Laptop (16GB/512GB SSD/NVIDIA RTX 3050 4GB/120Hz Refresh Rate/Windows 10/MS Office/Backlit Keyboard/Phantom Blue/2.4Kg), 82JK007WIN',
 'Dell 15 (2021) i7-10870H Gaming Laptop, 16GB DDR4, 512GB SSD, Win 10 + MS Office, NVIDIA RTX 3050 Ti 4GB, 15.6" (39.61 cms) FHD AG 250 nits 120Hz, Backlit KB Orange (G15 5510, D560534WIN9B)',
 'HP Pavilion x360 11th Gen Intel Core i7 14-inch(35.6 cm) Touchscreen 2-in-1 FHD Laptop (16GB/512GB SSD/Fingerprint Reader/Windows 10/MS Office/Natural Silver/1.41 Kg), 14-dy0050TU',
 'Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6"(39.62 cm)FHD IPS 300 nits Antiglare 100% sRGB Thin & Light Laptop(16GB/1TB HDD+128GB SSD/Windows 10/MS Office/3 Yr Onsite Warranty/1.7 Kg) 20VEA0HBIH']

In [11]:
pr = driver.find_elements_by_xpath("//span[@class='a-price-whole']")

<ipython-input-11-71e5fbacbf7b>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  pr = driver.find_elements_by_xpath("//span[@class='a-price-whole']")

In [12]:
price = []
for i in pr:
    price.append(i.text)
price[:10]

['89,990',
 '93,990',
 '56,990',
 '84,990',
 '85,990',
 '96,890',
 '1,11,030',
 '96,174',
 '84,990',
 '85,990']

In [13]:
urls = []
all_url = driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")

<ipython-input-13-c8f2cb5b6c38>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  all_url = driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")

In [14]:
for l in all_url[0:40]:
    urls.append(l.get_attribute('href'))

In [15]:
Ratings = []
for x in urls:
    driver.get(x)
    try:              
        driver.find_element_by_xpath("//span[@id='acrCustomerReviewText']").click()
        rating=driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base']")
        Ratings.append(rating.text)
    except NoSuchElementException as e :
    
        Ratings.append("No rating")

<ipython-input-15-49fb4a51c518>:5: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_xpath("//span[@id='acrCustomerReviewText']").click()
<ipython-input-15-49fb4a51c518>:6: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  rating=driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base']")

In [16]:
Ratings[:10]

['4.3 out of 5',
 '3.9 out of 5',
 '4.2 out of 5',
 '4.3 out of 5',
 '3.8 out of 5',
 '4.6 out of 5',
 '4.4 out of 5',
 '3.3 out of 5',
 '4.3 out of 5',
 '4.1 out of 5']

In [17]:
laptop=pd.DataFrame({})
laptop['Title']=lap_titles[:10]
laptop['Ratings']=Ratings[:10]
laptop['Price']=price[:10]

In [18]:
laptop

                                               Title       Ratings     Price
0  Lenovo ThinkBook 13s Intel 11th Gen Core i7 13...  4.3 out of 5    89,990
1  ASUS TUF Dash F15 (2021) 15.6-inch (39.62 cms)...  3.9 out of 5    93,990
2  Mi Notebook Horizon Edition 14 Intel Core i7-1...  4.2 out of 5    56,990
3  HP Pavilion (2021) Intel 11th Gen Core i7 14 i...  4.3 out of 5    84,990
4  Acer Nitro 5 AN515-57 Gaming Laptop | Intel Co...  3.8 out of 5    85,990
5  Dell 14 (2021) i7-1195G7 2in1 Touch Screen Lap...  4.6 out of 5    96,890
6  Lenovo Legion 5 11th Gen Intel Core i7 15.6"(3...  4.4 out of 5  1,11,030
7  Dell 15 (2021) i7-10870H Gaming Laptop, 16GB D...  3.3 out of 5    96,174
8  HP Pavilion x360 11th Gen Intel Core i7 14-inc...  4.3 out of 5    84,990
9  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....  4.1 out of 5    85,990

In [28]:
#question 9- Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. 

import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support.ui import Select

In [20]:
driver = webdriver.Chrome(r"C:\Users\lenovo\Downloads\chromedriver_win32\chromedriver.exe")

<ipython-input-20-15202a3d05e0>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\Users\lenovo\Downloads\chromedriver_win32\chromedriver.exe")

In [44]:
driver.get("https://www.ambitionbox.com/")

In [45]:
driver.get("https://www.ambitionbox.com/")
driver.find_element_by_xpath("//a[@class='link jobs']").click()
time.sleep(2)
driver.find_element_by_name("ab_jobsSearch").send_keys("Data Scientist")
driver.find_element_by_xpath("//span[@class='ctas-btn-medium']").click()
time.sleep(5)
driver.find_element_by_xpath("//p[contains(text(),'Location')]").click()
time.sleep(4)
driver.find_element_by_id("location_Noida").click()
time.sleep(2)
#location=[]
#locations=driver.find_elements_by_xpath("//']")
#for i in locations:
 #   loc=i.text
  #  location.append(loc)
#location

Ambition_box=pd.DataFrame({})

<ipython-input-45-ac3a7a3933fb>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_xpath("//a[@class='link jobs']").click()
<ipython-input-45-ac3a7a3933fb>:4: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_name("ab_jobsSearch").send_keys("Data Scientist")
<ipython-input-45-ac3a7a3933fb>:5: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_xpath("//span[@class='ctas-btn-medium']").click()
<ipython-input-45-ac3a7a3933fb>:7: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_xpath("//p[contains(text(),'Location')]").click()
<ipython-input-45-ac3a7a3933fb>:9: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_id("location_Noida").click()

In [46]:
Companies=[]
company_name=driver.find_elements_by_xpath("//p[@class='company body-medium']")
for i in company_name:
    company=i.text
    Companies.append(company)
    
Ambition_box['Company_name']=Companies

<ipython-input-46-cab4521cd620>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  company_name=driver.find_elements_by_xpath("//p[@class='company body-medium']")

In [47]:
days=[]
posted_on=driver.find_elements_by_xpath("//div[@class='other-info']//span[@class='body-small-l']")
for i in posted_on:
    post=i.text
    days.append(post)
print(days)
K = 2
res = []
for idx in range(0, K):
    res.append(days[idx::K])
print("Stepped splitted List : " + str(res))
result=list(res)
Ambition_box['Posted_on']=result[0]

<ipython-input-47-4cbf67b289ac>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  posted_on=driver.find_elements_by_xpath("//div[@class='other-info']//span[@class='body-small-l']")

['11d ago', 'via naukri.com', '4d ago', 'via naukri.com', '6d ago', 'via naukri.com', '3d ago', 'via hirist.com', '1mon ago', 'via naukri.com', '23d ago', 'via naukri.com', '23d ago', 'via naukri.com', '1mon ago', 'via naukri.com', '5d ago', 'via hirist.com', '3d ago', 'via iimjobs.com']
Stepped splitted List : [['11d ago', '4d ago', '6d ago', '3d ago', '1mon ago', '23d ago', '23d ago', '1mon ago', '5d ago', '3d ago'], ['via naukri.com', 'via naukri.com', 'via naukri.com', 'via hirist.com', 'via naukri.com', 'via naukri.com', 'via naukri.com', 'via naukri.com', 'via hirist.com', 'via iimjobs.com']]

In [48]:
ratings=[]
rating=driver.find_elements_by_xpath("//span[@class='body-small']")

for i in rating:
    rate=i.text
    ratings.append(rate)
    
Ambition_box['Ratings']=ratings[0:10]

<ipython-input-48-321eb93b43aa>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  rating=driver.find_elements_by_xpath("//span[@class='body-small']")

In [49]:
Ambition_box

                                     Company_name Posted_on Ratings
0  Optum Global Solutions (India) Private Limited   11d ago     4.1
1                                Steria India Ltd    4d ago     4.1
2                            Ameriprise Financial    6d ago     4.1
3                      Jubilant Foodworks Limited    3d ago     3.9
4  Optum Global Solutions (India) Private Limited  1mon ago     4.1
5                                Steria India Ltd   23d ago     4.1
6                                Steria India Ltd   23d ago     4.1
7                        HCL Technologies Limited  1mon ago     3.8
8                                           Zyoin    5d ago     4.2
9                                        GI Group    3d ago     3.9

In [50]:
#question10- Write a python program to scrape the salary data for Data Scientist designation. You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary. 

import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support.ui import Select

In [51]:
driver = webdriver.Chrome(r"C:\Users\lenovo\Downloads\chromedriver_win32\chromedriver.exe")

<ipython-input-51-15202a3d05e0>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\Users\lenovo\Downloads\chromedriver_win32\chromedriver.exe")

In [52]:
driver.get("https://www.ambitionbox.com/")

In [53]:
driver.find_element_by_xpath("//a[@class='link salaries']").click()
searchbox= driver.find_element_by_id("jobProfileSearchbox").send_keys("Data Scientist")
time.sleep(3)
dropdown = driver.find_element_by_xpath("//div[@class='suggestion_wrap tt-suggestion tt-selectable']//p[contains(text(),'Data Scientist')]").click()
Ambition_box_salary=pd.DataFrame({})

<ipython-input-53-b91ab8a4944c>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_xpath("//a[@class='link salaries']").click()
<ipython-input-53-b91ab8a4944c>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  searchbox= driver.find_element_by_id("jobProfileSearchbox").send_keys("Data Scientist")
<ipython-input-53-b91ab8a4944c>:4: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  dropdown = driver.find_element_by_xpath("//div[@class='suggestion_wrap tt-suggestion tt-selectable']//p[contains(text(),'Data Scientist')]").click()

In [54]:
Company_names=[]
company_name=driver.find_elements_by_xpath("//div[@class='name']")
for i in company_name:
    i=i.text.replace('\n'," ")
    i=i.strip(" ")
    Company_names.append(i)

Ambition_box_salary['Total_salary_record']=Company_names

<ipython-input-54-76462bbb9cba>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  company_name=driver.find_elements_by_xpath("//div[@class='name']")

In [55]:
Avg_CTC=[]
avg=driver.find_elements_by_xpath("//p[@class='averageCtc']")
for i in avg:
    i=i.text
    Avg_CTC.append(i)
Ambition_box_salary['Avg_CTC']=Avg_CTC

<ipython-input-55-63a992d5c10e>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  avg=driver.find_elements_by_xpath("//p[@class='averageCtc']")

In [56]:
min_sal=[]
min_salo=driver.find_elements_by_xpath("//div[@class='value body-medium']")
for i in min_salo:
    i=i.text.replace("\n",',')
    min_sal.append(i)
K = 2
res = []
for idx in range(0, K):
    res.append(min_sal[idx::K])
print("Stepped splitted List : " +str(res))
result=list(res)
Ambition_box_salary['Minimum_Salary']=result[0]
Ambition_box_salary['Maximum_Salary']=result[1]

<ipython-input-56-af00d462a99b>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  min_salo=driver.find_elements_by_xpath("//div[@class='value body-medium']")

Stepped splitted List : [['₹ 15.0L', '₹ 11.0L', '₹ 9.0L', '₹ 8.3L', '₹ 7.2L', '₹ 10.0L', '₹ 8.5L', '₹ 6.9L', '₹ 6.0L', '₹ 5.0L'], ['₹ 23.0L', '₹ 21.3L', '₹ 20.8L', '₹ 18.5L', '₹ 20.5L', '₹ 21.0L', '₹ 15.0L', '₹ 20.5L', '₹ 20.0L', '₹ 21.5L']]

In [57]:
exp=[]
experience=driver.find_elements_by_xpath("//div[@class='salaries sbold-list-header']")

<ipython-input-57-04d99b610502>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  experience=driver.find_elements_by_xpath("//div[@class='salaries sbold-list-header']")

In [58]:
for i in experience:
    i=i.text.replace("\n","")
    i=i.split(".")
    exp.append(i)
List = []
for elem in exp:
    List.extend(elem)
K = 2
res = []
for idx in range(0, K):
    res.append(List[idx::K])
print("Stepped splitted List : " +str(res))
result=list(res)
Ambition_box_salary['Role']=result[0][0:10]
Ambition_box_salary['Experience']=result[1][0:10]

Stepped splitted List : [['Data Scientist ', 'Data Scientist ', 'Data Scientist ', 'Data Scientist ', 'Data Scientist ', 'Data Scientist ', 'Data Scientist ', 'Data Scientist ', 'Data Scientist ', 'Data Scientist '], [' 4 yrs exp', ' 3-4 yrs exp', ' 2-4 yrs exp', ' 3-4 yrs exp', ' 2-4 yrs exp', ' 4 yrs exp', ' 4 yrs exp', ' 2-4 yrs exp', ' 3-4 yrs exp', ' 3-4 yrs exp']]

In [59]:
Ambition_box_salary

,Total_salary_record,Avg_CTC,Minimum_Salary,Maximum_Salary,Role,Experience
0,Ab Inbev based on 10 salaries,₹ 19.4L,₹ 15.0L,₹ 23.0L,Data Scientist,4 yrs exp
1,Optum based on 22 salaries,₹ 15.1L,₹ 11.0L,₹ 21.3L,Data Scientist,3-4 yrs exp
2,Fractal Analytics based on 60 salaries,₹ 14.7L,₹ 9.0L,₹ 20.8L,Data Scientist,2-4 yrs exp
3,Tiger Analytics based on 24 salaries,₹ 13.4L,₹ 8.3L,₹ 18.5L,Data Scientist,3-4 yrs exp
4,UnitedHealth based on 45 salaries,₹ 13.3L,₹ 7.2L,₹ 20.5L,Data Scientist,2-4 yrs exp
5,Verizon based on 14 salaries,₹ 12.7L,₹ 10.0L,₹ 21.0L,Data Scientist,4 yrs exp
6,Ganit Business Solutions based on 12 salaries,₹ 12.4L,₹ 8.5L,₹ 15.0L,Data Scientist,4 yrs exp
7,Deloitte based on 45 salaries,₹ 11.2L,₹ 6.9L,₹ 20.5L,Data Scientist,2-4 yrs exp
8,Ernst & Young based on 26 salaries,₹ 11.1L,₹ 6.0L,₹ 20.0L,Data Scientist,3-4 yrs exp
9,Ericsson based on 43 salaries,₹ 10.9L,₹ 5.0L,₹ 21.5L,Data Scientist,3-4 yrs exp